

h1{

    color: rgb(236, 162, 14);
    font-family: 'Merienda One', cursive;
    font-size: 4rem;

}

h3{

    font-family: 'Merienda One', cursive;
    color: rgb(153, 153, 152);
    font-size: 2rem;

}
h4{
    font-family: 'Merriweather', serif;
    color:  #000000;
}
.jumbotron{
    padding: 1rem 1rem;
    margin: 0em;
    background-color: rgb(253, 249, 207);
}



/* *****************************Title section********************************** */

.firstDiv{
  width: 100%;
  padding: 0;
  margin: 0;
  color: #fff;
  background-image: linear-gradient(120deg,#000000 60%,rgb(230, 225, 225) 40%);
  background-color: rgb(252, 253, 253); 
}
.row{
    padding: 5%;
    text-align: center;
}
.div1{
    padding: 5%;
}
.div2{
    padding-left: 5%;
    background-color: rgb(253, 249, 207);
    text-align: left;
    color: black;
    border-radius: 10%;
}

/* *****************************Media section********************************** */
@media (max-width:900px){

    h1{

        color: #fff;
        font-family: 'Merienda One', cursive;
        font-size: 2rem;

    }

    h3{

        font-family: 'Merienda One', cursive;
        color: rgb(153, 153, 152);
        font-size: 1rem;

    }
    h4,p{
        font-size: 1rem;
        text-align: left;
        color: #000000;
    }

    .firstDiv{
    width: 100%;
    padding: 0;
    margin: 0;
    color: #fff;
    background-image: linear-gradient(to bottom ,#000000 60%,rgb(230, 225, 225) 40%);
    background-color: rgb(252, 253, 253); 
    }
    .row{
        padding: 2rem 1rem;
        text-align: center;
    }
    .div1{
        padding: 5%;
    }
    .div2{
        background-color:rgb(255, 255, 255) ;
        border-radius: 10% 10%;
    }
      
}
